/* styling for webpage */

html, body, div, span, applet, object, iframe, h1,
h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0 auto;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* html5 for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

@font-face {
    font-family: 'journal_du_soirregular';
    src: url('../fonts/journal_du_soir-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/bebasneue-regular-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* header styling*/

header {
    color: #DFD9D9;
    padding-bottom: 0px;
    width: 100%;
}

body {
    background-color: #313131;
}

/*footer styling*/

footer {
    color: #DFD9D9;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    width: 100%;
    font-family: 'journal_du_soirregular';
    padding-top: 20px;
}

footer p {
    justify-content: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 5px;
    grid-column: 1;
}

.icons {
    display: inline-block;
    grid-column: 2 / span 4;
    justify-items: right;
}

/*nav styling*/

.nav ul {
    float: right;
    padding-top: 24px;
    font-family: 'journal_du_soirregular';
    font-size: 20px;
}

.nav li {
    display: inline;
    padding: 9px;
}

.nav picture {
    display: inline;
    float: left;

}

/*home styling*/

h1 {
    color: #DFD9D9;
    grid-column: 1 / span 2;
    grid-row: 1;
    font-size: 40px;
    font-family: 'journal_du_soirregular';
    padding-bottom: 20px;

}

h3 {
    font-size: 20px;
}

.logobox img {
    width: 78px;
    height: 78px;
    border: solid 5px #DEA4B8;
    background-color: #DFD9D9;
    grid-column: 1 / span 1;
    grid-row: 2;

}

.arianabox img {
    width: 78px;
    height: 78px;
    border: solid 5px #DEA4B8;
    grid-column: 1 / span 1;
    grid-row: 2;
    
}

.keshabox img {
    width: 78px;
    height: 78px;
    border: solid 5px #DEA4B8; 
}

.carlybox img {
    width: 78px;
    height: 78px;
    border: solid 5px #DEA4B8;
}

.homecontent {
   text-align: center;
   margin: 0 auto;
   display: grid;
   grid-template-columns: auto auto;
   grid-template-rows: auto auto auto auto auto;
}

.hometypography {
    background-color: #DEA4B8;
    width: 302px;
    grid-column: 1 / span 2;
    grid-row: 3;
    padding-top: 10px;
    font-family: 'bebas_neueregular';
    padding-bottom: 20px;
}

.hometypography p {
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.homequote {
    grid-column: 1 / span 2;
    grid-row: 4;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #DFD9D9;
    font-size: 12px;
    font-family: 'journal_du_soirregular';
}

/*writing styling*/

.writingcontent {
    text-align: center;
    margin: 0 auto;
    display: block;
    justify-content: space-between;

}

.writingcontent img {
    width: 300px;
    height: 167px;
    border-top: solid 5px #A4D1DE;
    border-bottom: solid 8px #A4D1DE;
    border-left: solid 8px #A4D1DE;
    border-right: solid 8px #A4D1DE;
}

h4 {
    font-family: 'bebas_neueregular';
    color: #DFD9D9;
    padding-bottom: 10px;
}

.kesharticle {
    font-family: 'bebas_neueregular';
    color: #181919;
    width: 316px;
    font-size: 20px;
}

.writingcontent h2 {
    background-color: #A4D1DE;
    height: 100px;
    padding-top: 45px;
}


.lgbtq {
    font-family: 'bebas_neueregular';
    color: #181919;
    width: 316px;
    font-size: 20px;
    padding-top: 25px;

}

.diva {
    font-family: 'bebas_neueregular';
    color: #181919;
    width: 316px;
    font-size: 20px;
    padding-top: 25px;

}

/*visual styling*/

.visualcontent {
    text-align: center;
    margin: 0 auto;
    display: block;
    justify-content: space-between;
}

.visualcontent img {
    width: 300px;
    height: 167px;
    border-top: solid 5px #BCDF9B;
    border-bottom: solid 8px #BCDF9B;
    border-left: solid 8px #BCDF9B;
    border-right: solid 8px #BCDF9B;
}

.visualcontent h2 {
    font-family: 'bebas_neueregular';
    color: #181919;
    font-size: 20px;
    background-color: #BCDF9B;
    height: 100px;
    padding-top: 45px;
}

.photoessay {
    padding-top: 25px;
}

.insta {
    padding-top: 25px;
}

/*about styling*/

.aboutcontent {
    font-family: 'bebas_neueregular';
    color: #181919;
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 300px;

}

.aboutcontent h2 {
    font-size: 20px;
    
}

.aboutcontent div {
    padding-right: 15px;
    padding-left: 15px;
    background-color: #BAACF3;
    
}

h5 {
    font-size: 30px;
    padding: 15px;
    display: block;
}

.aboutcontent img {
    width: 300px;
    height: 167px;
    border-top: solid 5px #BAACF3;
    border-bottom: solid 8px #BAACF3;
    border-left: solid 8px #BAACF3;
    border-right: solid 8px #BAACF3;
}

.aboutcontent p {
    font-size: 14px;
}

/*tablet and desktop screen styling*/
@media only screen and (min-width: 650px) {
    /*footer*/
    footer {
        font-size: 22px;
    }

    footer p {
        padding-top: 40px;
    }

    .icons picture {
        padding: 30px;
    }

    /*nav*/
    .nav ul {
        font-size: 30px;
        padding-top: 35px;
    }

    /*homepage*/
    .homecontent {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
    }

    .homecontent h1 {
        grid-column: 1 / span 3;
        grid-row: 1;
    }

    .logobox img {
        grid-column: 1;
        grid-row: 2;
    }

    .keshabox img {
        grid-column: 1;
        grid-row: 3;
    }

    .homecontent img {
        width: 200px;
        height: 200px;
    }

    .arianabox img {
        grid-column: 3;
        grid-row: 2;
    }

    .carlybox img {
        grid-column: 3;
        grid-row: 3
    }

    .hometypography {
        width: 700px;
        height: 500px;
        grid-column: 2;
        grid-row: 2;
    }

    .hometypography p {
        font-size: 22px;
        padding: 25px;
    }

    .hometypography h3 {
        font-size: 32px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .homequote {
        font-size: 22px;
        grid-column: 2;
        grid-row: 3;
    }

    /*writing page*/
    h4 {
        font-size: 25px;
    }

    .writingcontent {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
    }

    .writingcontent h1 {
        grid-column: 1 / span 3;
        grid-row: 1;
    }

    .writingcontent h4 {
        grid-column: 1 / span 3;
        grid-row: 2;
    }

    .kesharticle {
        grid-column: 1;
        grid-row: 3;
        padding-top: 25px;
    }

    .lgbtq {
        grid-column: 2;
        grid-row: 3;
    }

    .diva {
        grid-column: 3;
        grid-row: 3;
    }

    /*visual page*/
    .visualcontent {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
    }

    .visualcontent h1 {
        grid-column: 1 / span 3;
        grid-row: 1;
    }

    .visualcontent h4 {
        grid-column: 1 / span 3;
        grid-row: 2;
    }

    .portrait {
        grid-column: 1;
        grid-row: 3;
        padding-top: 25px;
    }

    .photoessay {
        grid-column: 2;
        grid-row: 3;
    }

    .insta {
        grid-column: 3;
        grid-row: 3;
    }

    /*about page*/
    .aboutcontent {
        display: grid;
        justify-content: center;
        grid-template-columns: auto 300px 300px;
        grid-template-rows: auto auto;
        margin: auto;
        
        
    }

    .aboutcontent div {
        padding: 25px;
    }

    .aboutcontent h1 {
        grid-column: 1 / span 3;
        grid-row: 1;
    }

    .jay {
        grid-column: 1;
        grid-row: 2;
        padding-left: 40px;
        padding-right: 40px;
    }

    .education {
        grid-column: 2;
        grid-row: 2;
        padding-left: 40px;
        padding-right: 40px;
    }

    .techskills {
        grid-column: 3;
        grid-row: 2;
        padding-left: 40px;
        padding-right: 40px;
    }
}